<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bombilla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bombilla</ion-title>
    </ion-toolbar>
  </ion-header> 
    <div id="contenedor">
      <ion-row>
        <ion-col>
          <ion-button id="encendido" size="large" expand="full" (click)="encender()" disabled="{{desactivare}}">
            <ion-icon name="flash-outline" color="warning"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="apagado" size="large" color="light" fill="clear" expand="full" (click)="apagar()" disabled="{{desactivara}}">
            <ion-icon name="flash-off-outline" color="medium"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
</ion-content>